.header {
	background-color: yellow;
	border: 5px
}

div.dm{
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.d1 {
border: 5px;
background-color: blue;
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid #000;
  line-height: normal;
  vertical-align: center;
}

div.d2 {
border: 5px;
background-color: blue;
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid #000;
  line-height: normal;
  vertical-align: center;
}

div.d3 {
border: 5px;
background-color: blue;
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid #000;
  line-height: normal;
  vertical-align: center;
}

.content{
	background-color: green;
	border: 5px;
}

div.aside{
	display: inline-block;
	border: 5px;
	background-color: purple;
	height: 100px;
	width: 100px;
  overflow: scroll;
}

div.main{
	display: inline-block;
	
	background-color: green;
	height: 200px;
	width: 200px;
    padding: 20px; /* Поля вокруг текста */
}